.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: lightblue;
  flex-wrap: wrap;
}

.main > div {
  background-color: antiquewhite;
  margin: 10px;
  

}

.contTop {
  display: flex;
  justify-content: space-around;
  line-height: 75px;
  text-align: center;
}

.bodyDesc {
  width: 30%;
  text-align: left;
}