.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: lightblue;
  flex-wrap: wrap;
}

.main > div {
  background-color: antiquewhite;
  width: 80%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}

