.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: lightblue;
  flex-wrap: wrap;
}

.main > div {
  background-color: antiquewhite;
  width: 80%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  display: grid;
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px; 
  column-gap: 10px;
  row-gap: 15px;
}

