.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 2rem 2rem 5rem;
  min-height: 100vh;
  background-color: rgb(239, 223, 192);
  flex-wrap: wrap;
  color: rgb(134, 163, 212);
  font-family:'DotGothic', sans-serif;
  overflow: hidden;
}

.heading{
  display: flex;
  align-items: center;
  font-family: 'DotGothic16', sans-serif;
  font-size: 12px;
}

.heading > div {
  width: 45%;
}

.reviewCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* .main > div {
  background-color: antiquewhite;
  margin: 10px;
  padding: 2em;
} */

.main > .heading > h1  {
  text-align: center;
  font-size: 4em;
  font-family: 'DotGothic16', sans-serif;
}


.contTop {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 2em 0;
}

.bodyDesc {
  width: 30%;
  text-align: left;
}


/* component */

.box1 {
  border: solid 2px black;
  background-color: rgb(255, 255, 255);
  height: auto;
  width: 100%;
  position: relative;
  box-shadow: 15px 12px rgb(239, 149, 171);
  margin: 2em;
}

  /* pop up top  */
  .box1 > .line1 {
    height: 2em;
    border-bottom: solid 2px black;
    display: flex;
    justify-content: flex-end;
  }

  /* pop up bottom  */
  .box1 > .line2 {
    height: 2em;
    border-top: solid 2px black;
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    background-color: white;
  } 

  /* pop up top - button  */
  .box2 {
    width: 2em;
    border-left: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* close button */
  .closeButton:hover {
    color:brown
  }

  /* image */
 
  .img {
    width: 100%;
    height: 100%;
  }
  
  .imgBehind {
    position: absolute;
    right: -6em;
    top: 7em;
    z-index: -10;
    max-width: 95%;
  }

  .imgFront{
    position: relative;
    z-index: 10;
    width: 30%;
    margin-right: 6em;
  }

  /* Button for next */
  .nextButton {
    background-color: rgb(238, 172, 172);
    width: 10em;
    height: 2em;
    text-align: center;
    font-size: 2em;
    line-height: 2em;
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    color: rgb(134, 163, 212);
    box-shadow: 5px 5px rgb(249, 235, 134);
    margin-left: 60%;
  }